form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
}
